body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
}

h1{
    color: hsl(240, 95%, 64%);
}

form{
    background-color: #242322;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsl(0, 0%, 30%);
    

}

#textBox{

    width: 75%;
    text-align: right;
    font-size: 2.5em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(116, 116, 116);

}

#buttons{
    width: auto; 
    font-size: 2em;

}

.button{
    
    width: 60px;
    height: 60px;
    margin-top: 15px;
    background-color: orange;
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 100%; 
    cursor: pointer; 
    outline: none; 
    font-size: 1em;
}

#b1, #b2, #b3, #b4,
#b5, #b6, #b7, #b8,
#b9, #b0, #dot, #backspace{
    background-color: rgb(54, 54, 54);
}